<%= form_with(model: pony, local: true) do |form| %>
  <% if pony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pony.errors.count, "error") %> prohibited this pony from being saved:</h2>

      <ul>
      <% pony.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pony_name %>
  </div>

  <div class="field">
    <%= form.label :profession %>
    <%= form.text_field :profession, id: :pony_profession %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
